a {
    color: white;
    margin: 40px;
}

body {
    text-align: center;
}

footer {
    background-color: steelblue;
    color: white;
}

h1 {
    color: steelblue;
}

img {
    width: 800px;
    border: 4px solid steelblue;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

p {
    padding: 10px;
}